%html{:lang => "en"}
  %head
    %meta{:charset => "UTF-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title Editor
  %body
    #lesson
      %h1 Java Academy
      %p= "Lesson " << @lesson.number.to_s
      %p= @lesson.description
      %p= @lesson.instruction
      %p= @lesson.testcases
      %p= @lesson.expectedresults
      - if params[:result]
        %p= params[:result]
      %p= link_to "Return to list of lessons", lessons_path
    #editor
      %pre
        = @lesson.skeleton_code

    = form_tag 'submit', :id => "form_tag_id" do 
      = label_tag "realacesubmit" 
      = hidden_field_tag "realacesubmit", :id => "realacesubmit"
      = label_tag "lessonid"
      = hidden_field_tag "lessonid", params[:id], :id => "lessonid" 
      %button#submit_button Submit
    %script{:charset => "utf-8", :src => "src/ace.js", :type => "text/javascript"}
