#profile

 .left.column
   =image_tag{"#{@user.name}", :class = "avatar", :src = @user.avatar(:thumb)} 
 .right.column
   %dl 
     %dt Username:
     %dd= @user.name
     %dt Email:
     %dd= @user.email
     = link_to "Change Password", edit_user_password_path, method: 'get'

  %table.completed_exercies
  	%tr.exercises_header
  	  %th= "Exercises"

  	%tbody
  	  - @user.exercises.each do |exercise|
  	  	%td= link_to "#{exercise}"
