#profile

   
  %h4= "Hello, " << @user.email


  %p You have completed the following lessons:

  %table.table.table-hover.table-condensed
    - @user.lessons.each do |lesson|
      %tr
        %td= link_to "Lesson #{lesson.number.to_s}: #{lesson.name}", lesson_path(lesson), "data-no-turbolink" => true  

  %p.btn.btn-default= link_to "Return to list of lessons", lessons_path  
  