.centered   
  %h1#heading Java Academy
  %br
  %p 
  - # pickup any message or nil if none
  - message = [flash[:notice],flash[:alert]].find{|x| !x.nil?}
  - if message
    %br 
    .alert.alert-success.alert-dismissible.fade.in{:role => "alert"}
      %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
        %span{"aria-hidden" => "true"} ×
      %p= message
    %br 

  %p Welcome to Java Academy! Here we teach you the basics of the programming language Java. 

  %br 
  - if user_signed_in?
    %p= "Welcome " << current_user.name.to_s   
    %p Remember to check out your profile page. 
    %br
  -else 
    %p Sign in to keep track of your progress! You can still complete the lessons without signing in.
    %br 

  %p Click on a lesson below to continue!
  
  %br 
  
  %table.table.table-condensed.table-hover 
    - @lessons.each do |lesson|
      - # no apparent turbolink error
      %tr
        %td.lesson= link_to "Lesson #{lesson.number.to_s}: #{lesson.name}", lesson_path(lesson), "data-no-turbolink" => false  
