%h1 Results  

%p
  - if flash[:note]
    = flash[:note]    
  - if flash[:warning]
    = flash[:warning]

%p
  - if @result[:stdout] == nil
    We could not run your code. Please check it for syntax errors.
  - else
    Your code returned this on standard output:
    %p
    %h4= @result[:stdout][0]
    %p
      - if @result[:testspassed][0] == true
        Congratulations, your code passed the test! 
      - else
        Your code failed our test(s). Please try again!   

%p.btn.btn-default= link_to "Return to lesson", lesson_path(@lesson), "data-no-turbolink" => true  

%p.btn.btn-default= link_to "Return to list of lessons", lessons_path, "data-no-turbolink" => true  

