%h1 Results  

%p
  - if flash[:notice]
    = flash[:notice]    
  - if flash[:warning]
    = flash[:warning]

%p
  - if @result[:stdout] == nil
    We could not run your code, and we received the following error:
    = @result[:stderr]
    %p
  - else
    Your code returned this on standard output:
    %p
    %h4= @result[:stdout][0]
    %p
      The tests results for your submission
      = @result[:testspassed].to_s 

%p= link_to "Return to list of lessons", lessons_path
